.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inst_title {
  margin-bottom: 1px;
}

.instructions {
  margin-bottom: 4px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right,rgb(103,169,207), rgb(209,229,240), rgb(253,219,199), rgb(239,138,98), rgb(255,201,101));
  margin-bottom: 5px;
}

.row_labels {
  display: flex;
  justify-content: space-between; 
}

.label {
  width: 15%;
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}
